
<section> 
		<div class="title_panel_price text-center">
		<h1>Escoge tu plan</h1>
<span>planes y precious, aplican para todos los tipos de ofertas.</span>
		</div>
		

</section>
<div class="container-fluid imgbgbox">
 <div id="PricingTab">
		<div class="container">
     
     
			<div class="row">
			<div class="table-responsive">
        <table class="table table-hover table-striped">
<thead>
<tr>
<th class="tabco1"></th>
<th valign="top" class="tabco2" ><h1>Prueba</h1>
<span>(Tu plan actual)</span>
<div>-</div>
<div>BASICO</div></th>
<th valign="top" class="tabco3">
<h1>$ 70.000</h1>
<span>al mes</span>
<div>-</div>
<div>EJECUTIVO</div>
</th>
<th valign="top" class="tabco4" ><h1>$ 70.000</h1>
<span>al mes</span>
<div>-</div>
<div>PRO</div></th>
<th valign="top" class="tabco5" ><h1>$ 70.000</h1>
<span>al mes</span>
<div>-</div>
<div>PREMIUM</div></th>
<th class="tabco6" valign="middle"><h1>Corporativo</h1></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tabco1">100% Uniqueness</td>
<td class="tabco2"><img src="assets/tick.png"/></td>
<td class="tabco3"><img src="assets/tick.png"/></td>
<td class="tabco4"><img src="assets/tick.png"/></td>
<td class="tabco5"><img src="assets/tick.png"/></td>
<td class="tabco6" rowspan="13" valign="middle" align="center"><h2>Empleadores con alto
volumen de contratacion</h2>
<p>Asesoria personalization para la
creacion de convenios planes
pensados segun tus necesidades</p>
</td>
</tr>
<tr>
<td class="tabco1">100% Uniqueness</td>
<td class="tabco2"><img src="assets/tick.png"/></td>
<td class="tabco3"><img src="assets/tick.png"/></td>
<td class="tabco4"><img src="assets/tick.png"/></td>
<td class="tabco5"><img src="assets/tick.png"/></td>

</tr>
<tr>
<td class="tabco1" >Proof Checking</td>
<td class="tabco2" >1</td>
<td class="tabco3" >1</td>
<td class="tabco4" >2</td>
<td class="tabco5">3</td>

</tr>
<tr>
<td class="tabco1">100% Uniqueness</td>
<td class="tabco2"><img src="assets/tick.png"/></td>
<td class="tabco3"><img src="assets/tick.png"/></td>
<td class="tabco4"><img src="assets/tick.png"/></td>
<td class="tabco5"><img src="assets/tick.png"/></td>

</tr>
<tr>
<td class="tabco1">100% Uniqueness</td>
<td class="tabco2"><img src="assets/tick.png"/></td>
<td class="tabco3"><img src="assets/tick.png"/></td>
<td class="tabco4"><img src="assets/tick.png"/></td>
<td class="tabco5"><img src="assets/tick.png"/></td>

</tr>
<tr>
<td class="tabco1" >Proof Checking</td>
<td class="tabco2" >0</td>
<td class="tabco3" >5</td>
<td class="tabco4" >10</td>
<td class="tabco5">Ilimitados</td>

</tr>
<tr>
<td class="tabco1">100% Uniqueness</td>
<td class="tabco2"><img src="assets/tick.png"/></td>
<td class="tabco3"><img src="assets/tick.png"/></td>
<td class="tabco4"><img src="assets/tick.png"/></td>
<td class="tabco5"><img src="assets/tick.png"/></td>

</tr>
<tr>
<td class="tabco1">100% Uniqueness</td>
<td class="tabco2"></td>
<td class="tabco3"><img src="assets/tick.png"/></td>
<td class="tabco4"><img src="assets/tick.png"/></td>
<td class="tabco5"><img src="assets/tick.png"/></td>

</tr>
<tr>
<td class="tabco1">Bonus Content</td>
<td class="tabco2"></td>
<td class="tabco3">soporte</td>
<td class="tabco4">seguimiento </td>
<td class="tabco5">personlizado</td>
</tr>
<tr>
<td class="tabco1" >Modification After Submission</td>
<td class="tabco2"></td>
<td class="tabco3"></td>
<td class="tabco4"><img src="assets/tick.png"/></td>
<td class="tabco5"><img src="assets/tick.png"/></td>
</tr>
<tr>
<td class="tabco1" >Modification After Submission</td>
<td class="tabco2"></td>
<td class="tabco3"></td>
<td class="tabco4"></td>
<td class="tabco5"><img src="assets/tick.png"/></td>
</tr>
<tr>
<td class="tabco1" >Modification After Submission</td>
<td class="tabco2"></td>
<td class="tabco3"></td>
<td class="tabco4"></td>
<td class="tabco5"><img src="assets/tick.png"/></td>
</tr>
<tr>
<td class="tabco1" >Modification After Submission</td>
<td class="tabco2"></td>
<td class="tabco3"></td>
<td class="tabco4"></td>
<td class="tabco5"><img src="assets/tick.png"/></td>
</tr>
<tr>
<td class="tabco1">WordPress Posting</td>
<td class="tabco2"></td>
<td class="tabco3"><a href="<%=payment_page_path%>?plan=executive&amt=70000" class="btn-block pricebtn">Comprar</a></td>
<td class="tabco4"><a href="<%=payment_page_path%>?plan=pro&amt=70000" class="btn-block pricebtn">Comprar</a></td>
<td class="tabco5" style="border-bottom:0px;"><a href="<%=payment_page_path%>?plan=premium&amt=70000" class="btn-block pricebtn">Comprar</a></td>
<td class="tabco6" class="text-center"><a href="#" class="btn-block pricebtncontact">Contactanos</a></td>
</tr>

</tbody>
</table>
</div>

      </div>
	  <div class="col-sm-12 tablefootertext">Ninguno de los planes genera  renovacion automatica en el pago. IVA no incluido</div>
	  <!--row-->
    </div><!--container-->
</div><!-- /.container -->
</div>
<div class="clearfix"></div>
<div class="pricingbottom">
<div class="pricingbottomcontainer">
<div class="nopadd col-sm-9 pricingbottomcontainer1 text-center">
<div>
<h1>Necesitas un numero
exacto de hojas de vida?</h1>
<p>selecciona la cantidad de hojas de vida que necesitas y nosotros te las enviamos</p>
</div>
</div>
<div class="nopadd col-sm-3 pricingbottomcontainer2 clearfix">
<h1>Hojas de vida</h1>
<div class="input-group">
          
          <input type="text" name="quant[1]" class="form-control input-number numberinput" value="1" min="1" max="10">
        
              <button type="button" class="btn btn-default btn-number numberbtn" data-type="plus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-chevron-up"></span>
              </button>
         <button type="button" class="btn btn-default btn-number numberbtn" disabled="disabled" data-type="minus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
          
      </div>
	  
	  <a href="#" class="btn-block pricebtncontact">Contactanos</a>
</div>
</div>
</div>

    <script>     $(function(){
    $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            });
    }); </script>
	<script>$('.btn-number').click(function(e){
    e.preventDefault();
    
    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {
            
            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            } 
            if(parseInt(input.val()) == input.attr('min')) {
                $(this).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }

        }
    } else {
        input.val(0);
    }
});
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {
    
    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());
    
    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    
    
});
$(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
	</script>
    
  </body>
</html>

<style type="text/css">
  
  .open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
body{
font-family: 'Open Sans', sans-serif;
}
.input-group-addon{ background:#fff;}
.input-group-addon .glyphicon{
color:#dedede;
}
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.navbar-toggle{
background:#363638;
margin-top:15px;
}
.navbar-toggle .icon-bar{ background:#ffffff;}
.btnregister{
background:#6aade4;
color:#ffffff;
text-transform:uppercase;
-webkit-box-shadow: -2px 17px 26px -8px rgba(182,228,243,1);
-moz-box-shadow: -2px 17px 26px -8px rgba(182,228,243,1);
box-shadow: -2px 17px 26px -8px rgba(182,228,243,1);
}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
header{
height:66px;
}
.tablefootertext{color:#fff; line-height:normal; text-align:right; font-size:16px; padding-right:20px; padding-top:15px;}
header .nav.navbar-nav{float:right;}
.title_panel{min-height:48px; background:#66abe6; color:#ffffff; font-size:20px; padding-top:10px;}
.title_panel_price{min-height:200px; background:#f7f7f7; color:#5ba6e6; font-size:20px; padding:10px 5px;}
.title_panel_price span{ color:#000000; font-size:14px;}
.imgbgbox{ background:url(assets/registerbg.jpg) no-repeat center center;
background-size:cover;
}
.register_container{width:100%; max-width:342px; background:#ffffff; margin:44px auto 88px auto; border-radius:15px; padding-bottom:20px;}
.register_container h2{
color:#66abe6;
font-size:20px;
text-align:center;
padding:15px 0px;
}
.register_container a{ color:#66abe6;}
.register_container a:hover{ color:#66abe6;}
.marbot15px{
margin-bottom:15px;
}
a.fbbtn{
width:100%;
display:block;
border-radius:5px;
height:35px;
line-height:35px;
background:url(assets/fbicon.png) no-repeat left top #6aade4;
color:#ffffff;
text-transform:uppercase;
-webkit-box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
-moz-box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
margin-bottom:20px;
}
a:hover.fbbtn{
width:100%;
display:block;
border-radius:5px;
height:35px;
line-height:35px;
background:url(assets/fbicon.png) no-repeat left top #6aade4;
color:#ffffff;
text-transform:uppercase;
-webkit-box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
-moz-box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
text-decoration:none;
}
.dottedborder{
height:1px;
border-bottom:1px dotted #e2e2e2;
margin:20px auto;
width:90%;
}
.graytext{ color:#e3e3e3;}
.font12px{font-size:12px;}
.font11px{font-size:11px;}
.form-horizontal .form-group{
margin-right:auto;
margin-left:auto;
width:300px;
}
footer{ background:#3b3b3d; height:230px; text-align:center; width:100%; color:#c2c5c6; line-height:25px;}
.footerlogo{margin-bottom:10px;}
.padd80topbot{padding-top:60px; padding-bottom:60px;}
.navbar-nav>li>a {
    padding-top: 23px!important;
    padding-bottom: 23px!important;
  color:#000000;
  font-weight:bold;
}
#PricingTab {
    background-image: url('http://techprocircle.com/wp-content/uploads/2016/08/pricing_bg.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 100px 0;
}
#PricingTab h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
#PricingTab table{
  max-width:1100px;
  margin: 0 auto;
  border-radius:5px;
  
  /*box-shadow: 1px 1px 149px 0px rgb(24, 25, 25);*/
}
#PricingTab  .table-responsive{
margin-top:-160px;
}
#PricingTab table tbody tr:nth-of-type(odd){
background:#f7f7f7;
}
#PricingTab table tbody tr:nth-of-type(even){
background:#ffffff;
}
#PricingTab table tbody tr td{
padding:20px 10px!important;
color:#000; 
}
.tabco1 {
  width: 40%;
  padding: 10px !important;
}
#PricingTab th.tabco1 {
background:transparent!important;
  padding: 32px 10px !important;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
}
.tabco2 {
  text-align: center;
  color: #fff;
}
 
th.tabco2 {
  background: #6aade4;
  padding: 20px 5px !important;
  font-size: 18px;
  text-transform: uppercase;
  min-width:130px;
}
#PricingTab th h1{
font-size:24px;
font-weight:bold;
line-height:24px;
}
#PricingTab th div{font-weight:normal;color:#fff; opacity:.5; line-height:14px;font-size:14px;}
#PricingTab th span{
font-size:14px;
text-transform:capitalize;
font-weight:normal;
display:block;
color:#fff!important;
}

.tabco3 {
  text-align: center;
  color: #fff;
}
th.tabco3 {
  background: #1282b2;
  padding: 20px 10px !important;
  font-size: 18px;
  text-transform: uppercase;
  min-width:130px;
}
.tabco4 {
  text-align: center;
  color: #fff;
}
th.tabco4 {
  background: #666666;
  padding: 20px 10px !important;
  font-size: 18px;
  text-transform: uppercase;
  min-width:130px;
}
.tabco5{
  text-align: center;
  color: #fff;
}
th.tabco5 {
  background: #0c0c0c;
  padding: 20px 10px !important;
  font-size: 18px;
  text-transform: uppercase;
  min-width:130px;
}
.tabco6 {
  background: #67ace7;
  text-align: center;
  color: #fff;
}
a.pricebtn{
background:#67ace7;
width:140px;
height:35px;
line-height:35px;
border-radius:5px;
font-size:14px;
color:#ffffff;
text-decoration:none;
box-shadow: 0px 5px 20px 1px #b6e3f5;
-webkit-transition: background 0s ease-out;
-o-transition: background 0.4s ease-out;
transition: background 0.4s ease-out;
-webkit-transition: box-shadow 0.4s ease-out;
-o-transition: box-shadow 0.4s ease-out;
transition: box-shadow 0.4s ease-out;
}
a:hover.pricebtn{
background:#1282b2;
box-shadow: 0px 5px 20px 1px #67ace7;
}
a.pricebtncontact{
background:#ffffff;
width:140px;
margin:0px auto;
height:35px;
line-height:35px;
border-radius:5px;
font-size:14px;
color:#67ace7;
text-decoration:none;
box-shadow: 0px 5px 20px 1px #aae1f2;
-webkit-transition: background 0s ease-out;
-o-transition: background 0.4s ease-out;
transition: background 0.4s ease-out;
-webkit-transition: box-shadow 0.4s ease-out;
-o-transition: box-shadow 0.4s ease-out;
transition: box-shadow 0.4s ease-out;
text-align:center!important;
}
a:hover.pricebtncontact{
background:#f5f5f5;
box-shadow: 0px 5px 20px 1px #b8e7f6;
text-align:center!important;
}
.tabco6 p{
opacity:.6;}
th.tabco6{
  background: #67ace7;
  padding: 20px 10px !important;
  font-size: 18px;
  text-transform: uppercase;
}
.rightSign {
  color: #1ab921;
  background: #fff;
  border-radius: 45px;
  padding: 5px;
  border: 2px solid;
  box-shadow: 0px 0px 11px -5px #000;
}
.crossSign {
  color: #de2315;
  background: #fff;
  border-radius: 45px;
  padding: 5px 7px;
  border: 2px solid;
  box-shadow: 0px 0px 11px -5px #000;
}
.White-Yellow {
    border-top: 0;
    border-left: 75px solid #fff;
    border-right: 75px solid #FEF200;
    height: 5px;
    width: 0px;
}
.pricingbottom{
background:#fefefe;
padding:68px 0px;
}
.pricingbottomcontainer{
background:#ffffff;
box-shadow: 1px 1px 10px 0px #ccc;
max-width:800px;
border:1px solid #e5e5e5;
margin:0px auto;
overflow:hidden;
padding:0px;
}
.pricingbottomcontainer1{
background:url(assets/arrow.png) right center no-repeat; min-height:180px; padding:15px;}
.pricingbottomcontainer2{
background:#67ace7; min-height:180px;}
.nopadd{padding:0px;}
.tabco6 h2{
font-size:16px!important;
line-height:24px;
vertical-align:middle!important;
text-transform:capitalize!important;
}
.tabco6 p{color:#ffffff;}
.pricingbottomcontainer1 div{
 max-width:300px;
 margin:0px auto;
 padding:20px 0px;
}
.pricingbottomcontainer h1{color:#58a3e5;font-size:20px;font-size:24px;}
.pricingbottomcontainer2 h1{ font-size:18px; color:#ffffff; text-align:center;}
.numberinput{
float:left;
margin-left:10%;
border-radius:5px!important;
height:38px;
max-width:38px;
background:#86bceb;
text-align:center;
color:#ffffff;
font-size:16px;
border:1px solid #ffffff;
}
.numberbtn{
    background: transparent;
    border: 0px solid;
    padding: 0px;
    margin-left: 15px;
    height: 10px;
    line-height: 10px;
    font-size: 9px;
    color:#ffffff;
    font-weight:normal;
}
.numberbtn:focus, .numberbtn:fucus{
  color:#000000;
   background: transparent;
}
.pricingbottomcontainer2 .input-group{
width:80px;
    margin:0px auto;
    padding: 18px 0px;
}
@media screen and (max-width: 767px) {
#PricingTab  .table-responsive{
margin-top:0px;
}
.title_panel_price{
min-height:inherit;
}
header .nav.navbar-nav{
float:inherit;
background:#ffffff;
-webkit-box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
-moz-box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
box-shadow: -2px 10px 15px -8px rgba(182,228,243,1);
}
.navbar-nav>li>a{
  padding-top: 10px!important;
    padding-bottom: 10px!important;
  text-align:center;
  border-bottom:1px solid #e2e2e2;
}
.tablefootertext{text-align:center; font-size:16px; padding-top:15px;}
.pricingbottomcontainer1 { background-image:none;}

}

.bell_notification.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.bell_notification.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.bell_notification .dropdown-menu{left:inherit; right:0 !important; min-width:400px; top:75px;}
.bold{font-weight:bold;}
.notification-icon:after {
    position: absolute;
    content: attr(data-count);
    margin-left: -6.8775px;
    margin-top: -6.8775px;
    padding: 0 4px;
    min-width: 13.755px;
    height: 13.755px;
    line-height: 13.755px;
    background: red;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 11.004px;
    font-weight: 600;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.pl-20{padding-left:20px;}
.blue_txt{color:#6aade4;}
.grey_txt_small{color:#cccccc; font-size:12px; margin-top:10px;}
.bell_notification p{margin-bottom:2px !important; padding-left:20px;}


.trash { color:rgb(209, 91, 71); }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }
.mt-40{margin-top:40px;}
.site_btn
   { background: #3b3b3d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 11px;
  transition: all .2s ease-in ; 
}

.site_btn:hover
   { background: #8cc1ed;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 11px;
  text-decoration:none;
}




/****** Notification MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text],.loginmodal-container textarea{
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


.loginmodal-container textarea{margin-bottom:6px;}

</style>