<section class="devise-wrapper">


  <% if params[:studnet].to_i == 2 %>

      <div class="students-signup-wrapper">
        <div class="container">

          <div class="row">

            <div class="col-md-8">
              <h1>
                ¿Quieres ganar dinero, experiencia y contactos trabajando mientras estudias?
              </h1>
              <h2>
                Regístrate ahora y aplica a los proyectos, prácticas y trabajos que más te gusten. ¡Es gratis!
              </h2>

              <div class="students-signup-content">
                <h4>
                  Trabajos Simples
                </h4>
                <p>
                  Trabaja en labores simples como traducciones, resúmenes y <br>
                  corrección de documentos
                </p>

                <h4>
                  Proyectos Virtuales
                </h4>
                <p>
                  Trabaja en proyectos como diseño de páginas web, diseño de <br>
                  logos y análisis financieros
                </p>

                <h4>
                  Proyectos Presenciales
                </h4>
                <p>
                  Trabaja con empresas y profesionales en el desarrollo de <br>
                  proyectos temporales
                </p>

                <h4>
                  Prácticas
                </h4>
                <p>
                  Trabaja de forma presencial haciendo prácticas en empresas de <br>
                  diversos sectores y tamaños
                </p>
              </div>

            </div>

            <div class="col-md-4 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>

  <% elsif params[:studnet].to_i == 3 %>

      <div class="companies-signup-wrapper">
        <div class="container">

          <div class="row">

            <div class="col-md-6">
              reerre
            </div>

            <div class="col-md-6 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>

  <% elsif params[:studnet].to_i == 4 %>
      <div class="people-signup-wrapper">
        <div class="container">

          <div class="row">

            <div class="col-md-6">
              reerre
            </div>

            <div class="col-md-6 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>
  <% end %>

</section>

<script>
  // Functions to show/hide form in the content depending on the type of account (role) selected.
  /*
   $(function() {

   select_value = [];

   $('.devise-student-info').show();
   $('.devise-company-info').hide();
   $('.devise-person-info').hide();

   function displayFormContent() {
   $('#roleID').change(function(){
   if ( $('#roleID').val() == 2 ) {
   $('.devise-student-info').show();
   $('.devise-company-info').hide();
   $('.devise-person-info').hide();
   } else if ( $('#roleID').val() == 3 ) {
   $('.devise-student-info').hide();
   $('.devise-company-info').show();
   $('.devise-person-info').hide();
   } else if ( $('#roleID').val() == 4 ) {
   $('.devise-student-info').hide();
   $('.devise-company-info').hide();
   $('.devise-person-info').show();
   }

   // This part of the function is used to pass the hidden value depending on the option selected in the roleID dropdown
   select_value =  $('#roleID').val();
   roleID_value =  $('#user_role_id').attr('value', select_value);

   });

   $('#roleID').val();

   }

   displayFormContent();

   });
   */
</script>