<section class="studNet-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <p id="notice"><%= notice %></p>

        ACA SE COMPLETA LA INFORMACION

      </div>
    </div>

  </div>
</section>




