<section class="devise-wrapper">
  <div class="students-show-view-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Ver perfil de estudiante
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper profile-wrapper">
  <div class="container">

    <%= render 'students/student_display' %>

  </div>
</section>