<section class="studNet-wrapper profile-wrapper">

  <% if @user.role_id == 2 %>
      <!-- Student Edit -->
      <section class="devise-wrapper">
        <div class="students-show-view-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>
                  Editar perfil de estudiante
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <h2 class="text-center">
              Perfil del estudiante
            </h2>

            <div class="tabbable student-tab-wrapper">
              <!--  -->
              <ul class="nav nav-tabs student-nav-tabs">
                <li class="active">
                  <a href="#pane1" data-toggle="tab">
                    Información personal y educación
                  </a>
                </li>

                <li class="border-left-none li-width-18">
                  <a href="#pane2" data-toggle="tab">
                    Experiencia laboral
                  </a>
                </li>

                <li class="border-left-none li-width-18">
                  <a href="#pane3" data-toggle="tab">
                    Habilidades
                  </a>
                </li>

                <li class="border-left-none li-width-18">
                  <a href="#pane4" data-toggle="tab">
                    Descripción
                  </a>
                </li>

                <li class="border-left-none li-width-18">
                  <a href="#pane5" data-toggle="tab">
                    Otros
                  </a>
                </li>
              </ul>

              <%= render 'users/student_form' %>

              <!-- /.tab-content -->
            </div>
            <!-- /.tabbable -->


          </div>
        </div>

      </div>
      <!-- ./Student Edit -->

  <% elsif @user.role_id == 3 %>

      <!-- Company Edit -->
      <section class="devise-wrapper">
        <div class="companies-signup-header margin-bot-40">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>
                  Editar perfil de empresa
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <%= render 'users/company_form' %>

          </div>
        </div>

      </div>
      <!-- ./Company Edit -->

  <% elsif @user.role_id == 4 %>

      <!-- Company Edit -->
      <section class="devise-wrapper">
        <div class="people-signup-header margin-bot-40">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>
                  Editar perfil de persona
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <%= render 'users/person_form' %>

          </div>
        </div>

      </div>
      <!-- Company Edit -->

  <% end %>

</section>

<script type="text/javascript">
  //=======================
  // Select2
  //=======================

  /* Student */
  $('select').select2({
    theme: "bootstrap"
  });


</script>