<section class="studNet-wrapper profile-wrapper">
  <div class="container">

    <% if @user.role_id == 2 %>

        <!-- Student Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <h3>
              Student Form
            </h3>

            <div class="tabbable student-tab-wrapper">
              <!--  -->
              <ul class="nav nav-tabs student-nav-tabs">
                <li class="active">
                  <a href="#pane1" data-toggle="tab">
                    Información personal y educación
                  </a>
                </li>

                <li>
                  <a href="#pane2" data-toggle="tab">
                    Experiencia laboral
                  </a>
                </li>

                <li>
                  <a href="#pane3" data-toggle="tab">
                    Habilidades
                  </a>
                </li>

                <li>
                  <a href="#pane4" data-toggle="tab">
                    Descripción
                  </a>
                </li>
                <li>
                  <a href="#pane5" data-toggle="tab">
                    Otros
                  </a>
                </li>
              </ul>

              <%= render 'users/student_form' %>

              <!-- /.tab-content -->
            </div>
            <!-- /.tabbable -->


          </div>
        </div>
        <!-- ./Student Edit -->

    <% elsif @user.role_id == 3 %>

        <!-- Company Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <%= render 'users/company_form' %>

          </div>
        </div>
        <!-- ./Company Edit -->

    <% elsif @user.role_id == 4 %>

        <!-- Company Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <%= render 'users/person_form' %>

          </div>
        </div>
        <!-- Company Edit -->

    <% end %>
  </div>
</section>

<script type="text/javascript">
  //=======================
  // Select2
  //=======================

  /* Student */
  $('select').select2({
    theme: "bootstrap"
  });


</script>