<section class="studNet-wrapper profile-wrapper">
  <div class="container">

    <% if @user.role_id == 2 %>

        <!-- Student Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <h3>
              Student Form
            </h3>

            <div class="tabbable student-tab-wrapper">
              <!--  -->
              <ul class="nav nav-tabs student-nav-tabs">
                <li class="active">
                  <a href="#pane1" data-toggle="tab">
                    Información personal y educación
                  </a>
                </li>

                <li>
                  <a href="#pane2" data-toggle="tab">
                    Experiencia laboral
                  </a>
                </li>

                <li>
                  <a href="#pane3" data-toggle="tab">
                    Habilidades
                  </a>
                </li>

                <li>
                  <a href="#pane4" data-toggle="tab">
                    Descripción
                  </a>
                </li>
                <li>
                  <a href="#pane5" data-toggle="tab">
                    Otros
                  </a>
                </li>
              </ul>

              <%= render 'users/student_form' %>

              <!-- /.tab-content -->
            </div>
            <!-- /.tabbable -->


          </div>
        </div>
        <!-- ./Student Edit -->

    <% elsif @user.role_id == 3 %>

        <!-- Company Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <%= render 'users/company_form' %>

          </div>
        </div>
        <!-- ./Company Edit -->

    <% elsif @user.role_id == 4 %>

        <!-- Company Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <%= render 'users/person_form' %>

          </div>
        </div>
        <!-- Company Edit -->

    <% end %>
  </div>
</section>


<script type="text/javascript">
  // Student
  $('#user_student_attributes_university_id').select2();
  $('#user_student_attributes_major_id').select2();
  $('#user_student_attributes_ed_level_id').select2();
  $('#user_student_attributes_last_semester').select2();

  $('#user_date_of_birth_1i').select2();
  $('#user_date_of_birth_2i').select2();
  $('#user_date_of_birth_3i').select2();

  $('#user_city_id').select2();
  $('#user_country_id').select2();
  $('#user_student_attributes_country_id').select2();

  $('#user_student_attributes_language_id').select2();
  $('#user_student_attributes_language_level').select2();

  $('#user_referenced_by').select2();

  // Company
  $('#user_company_attributes_company_sector_id').select2();
  $('#user_company_attributes_company_size').select2();

</script>