<% if object && object.errors.any? %>
    <div class="row error-messages">
      <div class="col-sm-12 text-danger text-left">
        <div class="title">
          <%= object.errors.count %> errores no permitieron completar la operación:
        </div>
        <ul>
          <% object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>