 <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
      <h1>Create Notification</h1>
      <%= render 'form', notification_post: @notification_post %>
    </div>
  </div>
</div>
