<h1>Edición del mensaje de notificación</h1>

<%= render 'form', notification_post: @notification_post %>

<%= link_to 'Espectáculo', @notification_post %> |
<%= link_to 'Espalda', notification_posts_path %>
