 <section class="devise-wrapper">
  <div class="companies-signup-header notification-comapny-header margin-bot-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Notificaciones de la empresa

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper student-tab-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content company-tab-content">

        <!-- Company Info -->
        <div class="row">
          <!-- Contact Info -->
          <div class="col-md-6">
            <h3>
              Detalle
             </h3>

            <table class="table studNet-table">
              <tbody>

              <tr>
                <td>
                  <strong>Nombre:</strong>
                </td>
                <td>
                  <%= @notification_post.name %>
                </td>
              </tr>

              <tr>
                <td>
                  <strong>Cuerpo:</strong>
                </td>
                <td>
                  <%= @notification_post.body %>
                </td>
              </tr>

              <tr>
                <td>
                 <strong>Usuario:</strong>
                </td>
                <td>
                  <%= @notification_post.user.first_name %>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <!-- Company Info -->
        </div>
        <!-- ./Company Info -->
      </div>
    </div>

    <% if user_signed_in? %>
        <!-- Actions -->
        <div class="row">
          <div class="col-md-12 student-actions-wrapper text-center">
         
            <%#= link_to 'Editar perfil', edit_notification_post_path(@notification_post) , class: 'btn btn-primary btn-studnet-basic' %>

           
                 <%= link_to 'Editar notificación', edit_notification_post_path(@notification_post), remote: true %> 
       
          </div>
        </div>
        <!-- ./Actions-->
    <% end %>

  </div>
</section>
<div class="new-modal"></div>
