<section class="admin-wrapper">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1>Administrators#index</h1>

        <% @administrators.each do | a | %>

            es una chimba el correo de <%= a.email  %> <br>

        <% end  %>
      </div>
    </div>

  </div>

</section>

