 <section class="studNet-wrapper">
  <div class="container">

    <!-- List of all opportunities -->
    <div class="row">
      <div class="col-md-12">

        <h1>
          Lista de Ofertas por aprobar
        </h1>

        <%= render 'administrators/opportunities_table' %>

      </div>
    </div>
    <!-- ./List of all opportunities -->

  </div>
</section>
