  <section class="devise-wrapper">
  <div class="<%= (current_user.role_id == User::ROLE_COMPANY ? 'companies-signup-header' : 'people-signup-header') if user_signed_in? %> margin-bot-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Editar oferta
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper student-tab-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content <%= opportunities_tab_content_color %>">

        <div class="row">
          <div class="col-md-6">
            <h3>
              Editar oferta
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= render 'form' %>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>