<section class="studNet-wrapper student-tab-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center student-tab-content">

        <h1>
          Nueva Oferta
        </h1>

        <%= render 'form' %>

      </div>
    </div>

  </div>
</section>

<script type="text/javascript">
  // Student
  $('#opportunity_opportunity_type').select2();
  $('#opportunity_major_id').select2();
  $('#opportunity_availability').select2();
  $('#opportunity_cost_or_offer_option').select2();


  $('#opportunity_date_ini_1i').select2();
  $('#opportunity_date_ini_2i').select2();
  $('#opportunity_date_ini_3i').select2();


</script>