<h1>Nueva oferta publicada</h1>

<p>
  Estimado estudiante, existe una nueva oferta (<%= @opportunity.opportunity_title %>) que puede ser de tu interés.
  Ingresa a studNet y revisa las <%= link_to 'ofertas', opportunities_url %> que tenemos disponibles para ti.
</p>
