@import "bootstrap-sprockets";
@import "bootstrap";

//================
// Variables
//================
// TODO: Declare variables
$f-normal: normal;

// Primary Colors
$cp-dark-gray: #3B3B3C;
$cp-medium-gray: #BFBFBF;
$cp-blue: #6AADE4;
// Secondary Colors
$cs-brown: #5A2A00;
$cs-light-gray: #F2F2F2;
$cs-light-blue: #C3DEF4;


// ================
// General
// ================
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: $f-normal;
}

// General wrapper with basic CSS structure for the site
.studNet-wrapper {
  margin: 30px 0;

  h3 {
    margin-top: 0;
  }

  .studNet-form {
    border: 2px solid $cp-dark-gray;
    padding: 20px 25px;

    .form-group {
      text-align: left;

      .form-control {
        border: 2px solid $cp-dark-gray;
        border-radius: 0;
      }

    }

    // Custom classes for date_select
    #user_date_of_birth_1i {
      display: inline;
      width: 28%;
    }

    #user_date_of_birth_2i {
      display: inline;
      width: 50%;
    }

    #user_date_of_birth_3i {
      display: inline;
      width: 20.7%;
    }
  }
}

// Profile wrapper applies to Student, Company & Person show view
.profile-wrapper {
  h2 {
    margin-top: 0;
  }

}

// ================
// Buttons
// ================
.btn-studnet-basic {

}

// ================
// Navbar
// ================
header {
  color: $cp-dark-gray;

  .navbar-custom {
    background-color: white;
    border: 0;
    border-radius: 0;
    height: 70px;
    margin-bottom: 0;
    padding-top: 20px;

    .navbar-header {

      .navbar-logo {
        margin-top: 10px;
        width: 60%;
      }

    }

    .navbar-collapse {
      // TODO: CSS - fix hover when active border-bottom overlapping. Must have the same length as the text on top of the colored line.

      .navbar-nav > .active > a {
        background-color: transparent;
        border-bottom: 3px solid $cp-blue;
        padding-bottom: 1px;
      }

      .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        border-bottom: 0;
      }

      .navbar-nav > li:hover, .navbar-nav > li:active, .navbar-nav > li:focus {
        border-bottom: 3px solid $cp-blue;
        a {
          padding-bottom: 1px;
        }
      }

    }

  }

}

// ================
// Footer
// ================


// ================
// Devise
// ================
.devise-wrapper {
  margin: 30px 0;

  .admin-form {
    border: 2px solid $cp-dark-gray;
    padding: 20px 25px;

    .form-group {
      text-align: left;

      .form-control {
        border: 2px solid $cp-dark-gray;
        border-radius: 0;
      }

    }

  }

  #error_explanation {
    text-align: left;
    ul {
      padding-left: 20px;
    }
  }

  .devie-control-margin-bot {
    margin-bottom: 15px;
  }

  // CSS clases for JS used to show/hide content in devise registration form
  .show-form-content {
    display: block;
  }

  .hide-form-content {
    display: none;
  }

}

// ================
// Import other stylesheets
// ================

// Static Pages
@import "static_pages";
// Responsive
@import "responsive";

// Students
@import "students";
// Companies
@import "companies";
// People
@import "people";
// Administrators
// @import "administrators";