@import "bootstrap-sprockets";
@import "bootstrap";

//================
// Variables
//================
$f-normal: normal;

// Primary Colors
$cp-dark-gray: #3B3B3C;
$cp-medium-gray: #BFBFBF;
$cp-blue: #6AADE4;
// Secondary Colors
$cs-brown: #5A2A00;
$cs-light-gray: #F2F2F2;
$cs-light-blue: #C3DEF4;


// ================
// General
// ================
body {
  color: $cp-dark-gray;
  font-family: 'Ubuntu', sans-serif;
  font-weight: $f-normal;
}

// General wrapper with basic CSS structure for the site
.studNet-wrapper {
  margin: 0;

  h3 {
    margin-top: 0;
  }

  // Generic For
  .studNet-form {
    background: rgba(106,173,228,0.4);
    padding: 20px 25px;

    .form-group {
      text-align: left;

      .form-control {
        border: 1px solid #bbbbbb;
        color: $cp-dark-gray;
        -webkit-box-shadow: inset 0px 2px 3px #dddddd;
        border-radius: 5px;
      }

    }

    // Custom classes for date_select
    #user_date_of_birth_1i {
      display: inline;
      width: 28%;
    }

    #user_date_of_birth_2i {
      display: inline;
      width: 50%;
    }

    #user_date_of_birth_3i {
      display: inline;
      width: 20.7%;
    }

  }

  // Basic Info
  &.basic-info-wrapper {
    background-image: url(image_path('register_students.jpg'));
    background-size: cover;
    color: white;
    padding: 40px 0;
  }

}

// Profile wrapper applies to Student, Company & Person show view
.profile-wrapper {
  h2 {
    margin-top: 0;
  }

}

// CSS clases for JS used to show/hide content in devise registration form
.show-form-content {
  display: block;
}

.hide-form-content {
  display: none;
}

// Generic studnet table classes
.table {
  &.studNet-table {

    tbody {
      tr {

        td {
          border:none;
        }

        td:nth-child(odd) {
          text-align: right;
          width: 50%;
        }

      }

    }

  }

}

.table {
  &.table-aligned-middle {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }

}


// Select2
.select2-container--default .select2-selection--single {
  height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-top: 3px !important;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #9a9a9a !important;
}

// Flash Messages
.alert {
  //margin-top: 22px;
}

.alert-success {

}

.alert-error {

}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

// ================
// Buttons
// ================

.btn-studnet-basic {
  background-color: #1db5f7;
  background: -webkit-linear-gradient(#1db5f7,#0578d7);
  background: -moz-linear-gradient(#1db5f7,#0578d7);
  background: -ms-linear-gradient(#1db5f7,#0578d7);
  background: -o-linear-gradient(#1db5f7,#0578d7);
  background: linear-gradient(#1db5f7,#0578d7);
  border: none;
  box-shadow: none;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px 25px;
  text-shadow: none;
}

.btn-studnet-hero-index {
  background-color: $cp-blue;
  border: none;
  box-shadow: none;
  font-size: 1.25em;
  font-weight: bold;
  padding: 15px 30px;
  text-shadow: none;
}

// ================
// Navbar
// ================
header {
  color: $cp-dark-gray;

  .navbar-custom {
    background-color: white;
    border: 0;
    border-radius: 0;
    height: 70px;
    margin-bottom: 0;
    padding-top: 20px;

    .navbar-header {

      .navbar-logo {
        margin-top: 10px;
        width: 60%;
      }

    }

    .navbar-collapse {

      .navbar-nav > .active > a {
        background-color: transparent;
        border-bottom: 3px solid $cp-blue;
        padding-bottom: 1px;
      }

      .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        border-bottom: 0;
      }

      .navbar-nav > li:hover, .navbar-nav > li:active, .navbar-nav > li:focus {
        border-bottom: 3px solid $cp-blue;
        a {
          padding-bottom: 1px;
        }
      }


    }

  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    padding-bottom: 0;
  }

}

header .navbar-custom .navbar-collapse .navbar-nav > li:hover a, header .navbar-custom .navbar-collapse .navbar-nav > li:active a, header .navbar-custom .navbar-collapse .navbar-nav > li:focus a {
  padding-bottom: 0;
}

header .navbar-custom .navbar-collapse .navbar-nav > li:hover, header .navbar-custom .navbar-collapse .navbar-nav > li:active, header .navbar-custom .navbar-collapse .navbar-nav > li:focus {
  border-bottom: 0;
}

.dropdown-menu > li > a {
  padding-bottom: 0;
}

// ================
// Footer
// ================


// ================
// Devise
// ================
.devise-wrapper {
  margin: 30px 0;
  margin-top: 0;

  // Sign Up
  .sign-up-select-account {

    .sign-up-select-account-students {
      background-image: url(image_path('estudiantes.jpg'));
      background-size: cover;
      min-height: 450px;
    }

    .sign-up-select-account-companies {
      background-image: url(image_path('empresas.jpg'));
      background-size: cover;
      min-height: 450px;
    }

    .sign-up-select-account-people {
      background-image: url(image_path('personas.jpg'));
      background-size: cover;
      min-height: 450px;
    }

  }

  .devise-signup-wrapper {

    h1 {
      font-weight: bold;
      margin-bottom: 50px;
      margin-top: 40px;
    }

    h2 {
      font-size: 1.91em;
      font-weight: 500;
      margin-bottom: 100px;
    }

    .devise-signup-content {
      h4 {
        font-size: 1.4em;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 10px;
      }

      p {
        color: #dddddd;
        font-size: 16px;
        margin-bottom: 20px;
      }

    }

  }

  .students-signup-wrapper {
    background-image: url(image_path('register_students.jpg'));
    background-size: cover;
    color: white;
    padding-bottom: 40px;
  }

  .companies-signup-wrapper {
    background-image: url(image_path('register_companies.jpg'));
    background-size: cover;
    color: white;
    padding-bottom: 40px;
  }

  .people-signup-wrapper {
    background-image: url(image_path('register_people.jpg'));
    background-size: cover;
    color: white;
    padding-bottom: 40px;
  }

  .register-form {
    background: rgba(106,173,228,0.4);
    padding: 20px 25px;

    .form-group {
      text-align: left;

      .form-control {
        border: 1px solid #bbbbbb;
        color: $cp-dark-gray;
        -webkit-box-shadow: inset 0px 2px 3px #dddddd;
        border-radius: 5px;
      }

    }

  }

  // Custom classes for logo text in registration
  .registration-whats-studnet {

    h4 {
      margin-top: 20px;
    }

    p {
      color: $cp-dark-gray;
      font-size: 1.15em;
    }

    #studnet-gray-logo {
      color: $cp-dark-gray;
      font-weight: bold;
    }

    #studnet-blue-logo {
      color: $cp-blue;
      font-weight: bold;
    }

  }

  #error_explanation {
    text-align: left;
    ul {
      padding-left: 20px;
    }
  }

  .devie-control-margin-bot {
    margin-bottom: 15px;
  }

  .devise-shared-links {
    margin-top: 5px;

    a, a:hover, a:focus, a:active {
      color: white;
      text-decoration: none;
    }

  }

  // Sign In
  .sign-in-info-container {
    padding-top: 15px;

    h3 {
      font-size: 1.29em;
      font-weight: normal;
      line-height: 24px;
      margin-top: 0;
    }

    h5 {
      font-size: 1.29em;
      font-weight: 500;
      margin-top: 0;
    }

    h5:first-child {
      margin-top: 5px;
    }

    p {

    }

    .margin-bot-40 {
      margin-bottom: 40px;
    }

  }

  .sign-in-title {
    background-color: $cp-dark-gray;
    border-bottom: 2px solid black;

    h3 {
      font-size: 1.15em;
      font-weight: bold;
      margin-top: 15px;
    }

  }

  .sign-in-form {

    h3 {
      margin-bottom: 30px;
      padding-top: 30px;
    }

  }

}

// Other devise classes
.devise-links-color {
  a {
    color: white;
  }
}

// ================
// Import other stylesheets
// ================

// Static Pages
@import "static_pages";
// Responsive
@import "responsive";

// Students
@import "students";
// Companies
@import "companies";
// People
@import "people";
// Oportunities
@import "opportunities";
// Administrators
// @import "administrators";