//========================
// SHOW
//========================
.opportunity-wrapper {

  .glyphicon-pencil {
    font-size: 0.7em;
  }

  a {
    text-decoration: none;
  }

}

.studNet-form {
  &.no-border {
    border: none;
  }
}
