//=================================
// Show
//=================================

.student-tab-content {
  &.person-tab-content {
    border: 3px solid $cp-medium-gray;
    padding: 20px 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 40px;

    h1 {
      color: $cp-dark-blue;
      margin-top: 0;
      margin-bottom: 40px;
    }

    h3 {
      color: $cp-dark-blue;
      border-bottom: 3px solid $cp-dark-blue;
      font-size: 1.5em;
      padding-bottom: 5px;
    }

    h4 {
      margin-bottom: 5px;
    }

    h5 {
      color: $cp-dark-gray;
      font-weight: bold;
    }

    a {
      text-decoration: none;
    }

    .actions-margin-top {
      margin-top: 20px;
    }

  }
}
