//========================
// EDIT
//========================
.student-edit-wrapper {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}

//========================
// SHOW
//========================
.student-tab-wrapper {

  .nav-tabs > li > a {
    border: 2px solid #3B3B3C;
    border-bottom: 0;
    margin-right: 0;
  }

  .student-tab-content {
    border: 2px solid #3B3B3C;
    padding: 20px 25px;
  }

  #glyphiconPencilSize {
    color: $cp-blue;
    font-size: 18px;
  }

}

//========================
// BASIC INFO
//========================
