//========================
// EDIT
//========================
.student-edit-wrapper {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}

//========================
// SHOW
//========================
.student-tab-wrapper {

  .nav-tabs > li > a {
    background-color: $cs-light-gray;
    border: 3px solid $cp-blue;
    border-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: $cp-blue;
  }

  .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li > a:active  {
    background-color: white;
    border: 3px solid $cp-blue;
    border-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: $cp-blue;
  }

  .student-tab-content {
    border: 3px solid $cp-blue;
    padding: 20px 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    h1 {
      color: $cp-blue;
      margin-top: 0;
      margin-bottom: 40px;
    }

    h3 {
      color: $cp-blue;
    }

    h4 {
      margin-bottom: 5px;
    }

    h5 {
      color: $cp-blue;
      font-weight: bold;
    }

    a {
      text-decoration: none;
    }

  }

  .student-tools {
    font-weight: bold;
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 5px;
    }
  }

  .student-skills {
    h4 {
      font-size: 1.25em;
    }

    p {

    }
  }

  .student-xp-title {
    h3 {
      border-bottom: 3px solid #6AADE4;
    }
  }

  #glyphiconPencilSize {
    color: $cp-blue;
    font-size: 18px;
  }

  #studentMajorName {
    font-weight: bold;
    font-size: 1.1em;
  }

  #studentMajorBlue {
    color: $cp-blue;
    font-weight: bold;
  }

}

//========================
// BASIC INFO
//========================
