//========================
// INDEX
//========================


//========================
// SHOW
//========================
.student-tab-wrapper {

  .nav-tabs > li > a {
    border: 2px solid #3B3B3C;
    border-bottom: 0;
    margin-right: 0;
  }

  .student-tab-content {
    border: 2px solid #3B3B3C;
    padding: 20px 25px;
  }

}

//========================
// BASIC INFO
//========================
