//========================
// EDIT
//========================

// Generic user edit form
.users-personal-info-wrapper {

}

// Info Forms | nested student form under user form.
.users-students-education-info-wrapper {

}

.users-students-professional-xp-wrapper {

}

.users-students-other-xp-wrapper {

}

.users-students-skills-languages-wrapper {

}

.users-students-skills-tools-wrapper {
  ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: bold;

    li {
      margin-bottom: 5px;
    }

  }
}

.users-students-others-wrapper {

}

// Info Forms | nested student form under user form.
.users-companies-company-info-wrapper {

}